<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gmail.dogshop.user.mapper.UmsMapper">
    <sql id="table_name">ums_member</sql>
    <sql id="register_message">id,password,status,nickname,icon</sql>
    <resultMap id="UmsResultMap" type="gmail.dogshop.user.bean.Ums">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="birthday" column="birthday"/>
        <result property="city" column="city"/>
        <result property="createTime" column="create_time"/>
        <result property="gender" column="gender"/>
        <result property="growth" column="growth"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getAllUser" resultType="gmail.dogshop.user.bean.Ums">
    select * from <include refid="table_name"/>
    </select>

    <update id="updateUser" parameterType="int">
    update <include refid="table_name"/>
    set id=#{id} ,member_level_id=#{memberLevelId} ,username=#{username} ,password=#{password} ,nickname=#{nickname} ,
        phone=#{phone} ,status=#{status} ,create_time=#{createTime} ,icon=#{icon} ,gender=#{gender} ,birthday=#{birthday} ,
        city=#{city} ,job=#{job} ,personalized_signature=#{personalizedSignature} ,source_type=#{sourceType} ,integration=#{integration} ,
        growth=#{growth} , luckey_count=#{luckeyCount} ,history_integration=#{historyIntegration}
    where id=#{id}
    </update>

    <select id="findUser" resultType="gmail.dogshop.user.bean.Ums" parameterType="int">
    select * from <include refid="table_name"/> where id = #{id}
    </select>

    <delete id="delUser" parameterType="int">
    delete from <include refid="table_name"/> where id=#{id}
    </delete>

    <insert id="insertUser">
    insert into <include refid="table_name"/>
        (id,member_level_id,username,password,nickname,phone,status,create_time,icon,gender,birthday,city,job,personalized_signature,
         source_type,integration,growth,luckey_count,history_integration)
    value
        (#{id} ,#{memberLevelId} ,#{username} ,#{password} ,#{nickname} ,#{phone} ,#{status} ,#{createTime} ,#{icon} ,
      #{gender} ,#{birthday} ,#{city} ,#{job} ,#{personalizedSignature} ,#{sourceType} ,#{integration} ,#{growth} ,#{luckeyCount} ,#{historyIntegration} )
    </insert>
</mapper>